body {
  background: white;
  font-family: 'Poppins', sans-serif;
  margin: auto;
  width: 550px;
}

.main {
  border-radius: 1%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  height: 900px;
  margin: 0 3px;
}

.end {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 900px;
}

.endly {
  display: flex;
  font-size: 30px;
  justify-content: center;
}

.dog-info {
  display: flex;
  flex-direction: column;
  margin: 5px 10px;
}

.dog-info h2, p {
  color: white;
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
}

.icon {
  color: #DCE1E7;
  height: 34px;
  width: 34px;
}

.logo {
  height: 42px;
  padding: 10px;
  width: 84px;
}

.footer {
  display: flex;
  gap: 10px;
  justify-content: center;
  height: 100px;
  width: 100%;
}

.footer img {
  height: 40px;
  width: 40px;
}

.btn {
  align-self: center;
  background: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  filter: drop-shadow(0 10px 20px #E9E9EA);
  height: 75px;
  padding-top: 7px;
  text-align: center;
  width: 75px;
}

#ignored-btn:hover {
  background: #E38CA9;
}

#liked-btn:hover {
  background: #8AEBCD;
}
